<html>
<head>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4b03f8b6-3416-4cc3-91f8-96e4df4ee5e8",
    });
  });
</script>
</head>
<body>
<h1>하단 오른쪽에서 Subscribe 하시면 YGOSU 실인게 게시물을 받아보실 수 있습니다.<h1>
<h1>더이상 받지 않고 싶으시다면, 하단 오른쪽 버튼에서 Unsubscribe 하시면 알림이 뜨지 않습니다.</h1>
<h1>support@rainclab.net </h1>
</body>
</html>