<html>
<head>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4b03f8b6-3416-4cc3-91f8-96e4df4ee5e8",
    });
  });
</script>
</head>
<body>
</body>
</html>